@import '../styles/mixins.module.scss';

.signInBox {
  @include Flex(center, center, column);
  margin: 0;
  padding: 50px 20px 0;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.linkText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #797979;
  transition: .2s;

  &:hover {
    transition: .2s;
    color: #161616;
  }
}