@import '../../../styles/mixins.module.scss';

.submitButton {
  @include Size(32px, fit-content);
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #767676;
  color: white;
  background: #767676;
  text-align: center;
  margin: 0;
  padding: 0 16px;
  outline: none;
  font-size: 12px;
  transition: .5s;

  &:hover {
    background: #959595;
    transition: .5s;
  }
}

.headerSearchBox {
  @include Flex(center, center, row);
  max-width: fit-content;
}

.headerInputField {
  @include Size(32px, 295px);
  padding: 0 10px;
  margin: 0 20px 0 0;
  box-sizing: border-box;
  border: solid 1px #767676;
  border-radius: 5px;
  background: white;
  outline: none;
  font-size: 18px;

  @media screen and (max-width: 375px) {
    @include Size(32px, 190px)
  }
}