@import '../../../styles/mixins.module.scss';

.header {
  position: fixed;
  top: 0;
  @include Size(fit-content, 100%);
  z-index: 1;
  opacity: 0.97;
  background-color: white;
  @include Flex(center, center, row);
  box-sizing: border-box;
  margin: 0;
  padding: 50px 60px;
  box-shadow: 8px 8px 24px 2px rgba(212, 212, 211, 0.877);
  border-radius: 0 0 25px 25px;

  @media screen and (max-width: 940px) {
    @include Flex('', '', column);
    padding: 32px 60px;
  }

  @media screen and (max-width: 725px) {
    padding: 32px 20px;
  }

  .headerNavButton {
    @include Size(26px, fit-content);
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #767676;
    color: white;
    background: #767676;
    text-align: center;
    margin: 0;
    padding: 0 10px;
    font-size: 14px;
    transition: .2s;

    &:hover {
      background: #626262;
      transition: .2s;
    }
  }

  .mailButton {
    margin: 0 10px 0 0;
    border: none;
    background: inherit;
    @include Size(fit-content, fit-content);
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    color: #394959;
    transition: .2s;

    &:hover {
      transition: .2s;
      color: #050709;
    }
  }

  .navigationBox {
    @include Flex(center, center, row);
    position: absolute;
    right: 60px;

    @media screen and (max-width: 940px) {
      position: relative;
      right: 0;
      margin: 15px 0 0 0;
      @include Flex('', space-between, row);
      width: 375px;
    }

    @media screen and (max-width: 375px) {
      width: 270px;
    }
  }

  .dropDownContent {
    margin: 0;
    padding: 5px;
    @include Size(90px, 200px);
    @include Flex(center, center, column);
    position: fixed;
    top: 85px;
    right: 114px;
    box-sizing: border-box;
    border: 1px solid rgba(#999898, 1);
    border-radius: 5px;
    background-color: #767676;

    @media screen and (max-width: 940px) {
      position: absolute;
      top: 105px;
      right: 53vw;
    }

    @media screen and (max-width: 725px) {
      top: 185px;
      right: 54vw;
    }

    @media screen and (max-width: 450px) {
      right: 46vw;
    }

    @media screen and (max-width: 375px) {
      top: 195px;
      right: 34vw;
    }

    .dropDownItem {
      margin: 0;
      color: white;
    }
  }
}