@import 'styles/mixins.module.scss';

.figureCont:hover {
  cursor: pointer;
}


.figcaptionCont {
  @include flex(flex, center, center,);
  flex-direction: column;

}

figcaption {
  margin-top: 10px;
  color: darkslateblue;
  font-size: 26px;
}



