@import "styles/mixins.module.scss";

.item {
  @include flex(column, center);
}
.name {
  font-size: $font-span;
  margin-top: 10px;
  text-align: center;

  @include phone() {
    font-size: 2rem;
  }
}

.image {
  width: 100px;
  border-radius: 50%;
}