@import "styles/mixins.module.scss";

.link {
  margin: 35px 0;
  font-size: 1rem;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
    color: $links-color;
  }
}

.textBlock {
  @include flex(column, center);
  font-size: 1rem;
}