@import 'styles//mixins.module.scss';

.content {
  margin-top: 11vw;
  min-height: 75vh;
  height: auto;
  @include flex(column, center);

  @include phone() {
    margin-top: 50vw;
  }

}
.button {
  margin-bottom: 20px;
}
.header {
  font-size: 2rem;

  @include phone() {
    font-size: 10rem;
  }
}

.buttonFilter {
  height: 50px;
  font-size: 12pt;
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 12;
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-duration: 0.9s;
}