@import '../../../styles/mixins.module.scss';

.pagesBox {
  margin: 0 auto;
  padding: 0 60px;
  width: fit-content;
  text-align: center;

  @media screen and (max-width: 725px) {
    padding: 0;
  }
}

.pageNumberButton {
  @include Size(40px, 40px);
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #999898;
  color: #858585;
  background: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 5px 8px 5px 8px;
  padding: 0;
  outline: none;
  transition: .1s;

  &:hover {
    background: #dddddd;
    transition: .1s;
  }

  &:active {
    background: #cecece;
    @include Size(38px, 38px);
    margin: 6px 9px 6px 9px;
  }  
}
