@import '../../../styles/mixins.module.scss';
@import '../../../styles/animations.module.scss';

.headerPicture {
  @include Size(70px, 70px);
  position: absolute;
  top: 35px;
  left: 75px;
}

.cardPicture {
  width: fit-content;
  height: fit-content;
}

.modalMainPicture {
  width: 250px;
  height: 250px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 50%;
}

.modalCharPicture {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 50%;
}