@import 'styles/variables.module.scss';
@import 'styles/animations.module.scss';

@mixin flex ($dir:'', $ai: '', $jc: '', $fd: '', $wrap: '') {
    display: flex;
    align-items: $ai;
    justify-content: $jc;
    flex-direction: $fd;
    flex-wrap: $wrap;
}

@mixin position ($pos:'', $top:'', $left:'') {
    position: $pos;
    top: $top;
    left: $left;
}

@mixin dimensions ($width: '', $height: '') {
    width: $width;
    height: $height;
}

@mixin mobile () {
    @media screen and (max-width: 500px) {
        @content
    }
}
