@import "styles/mixins.module.scss";

.loader {
  @include size(80px, 80px);

  display: inline-block;
  position: relative;
}

.firstChild,
.secondChild {
  position: absolute;
   position: absolute;
   border: 4px solid $loader-color;
   opacity: 1;
   border-radius: 50%;
   animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.secondChild {
  animation-delay: -0.5s;
}