@import 'styles/variables.module.scss';

body {
    text-align: center;
    background-color: $whitesmoke;
}

html {
    overflow-y: scroll;
}

h1 {
    padding-top: 200px;
    color: $darkslateblue;
}
