@import "styles/mixins.module.scss";

.component {
  @include size(100%, 100%);
  @include position(fixed, 0, '', '', '', 10);
  display: flex;
  align-items: center;
  //margin-top: 10vw;
  animation-duration: 3.55s;
  animation-fill-mode: both;
}

.content {
  @include flex(column, center, center);
  @include position(relative, '', '', '', '', 10);

  background:$white-color;
  border: 2px solid $gray-color;
  border-radius: 5px;
  max-width: 20vw;
  padding: 1em 2em 2em;
  height: 100%;
}

.overlay {
  @include size(100%, 100%);
  @include position(fixed, 0, 0, '', '', 9);

  background-color: $black-color;
  opacity: 0.75;
}

.activeButton {
  width: 2vw;
  height: 2vw;
  border-radius: 0 0.3vw 0.3vw 0;
  border-left: none;
  color: $white-color;
  background-color: $tab-color;
  position: relative;
  z-index: 12;
  font-size: 1rem;
  text-align: center;
  @include flex('', center ,center);
  &:hover {
    cursor: pointer;
  }
}
.header {
  font-size: 1rem;
  margin: 20px 0;
}
.block {
  @include flex(column, center, center);
}

.radio {
  @include size(0.5rem, 0.5rem);

  margin-left: 10px;
  cursor: pointer;
}
input[type='radio'] {
  accent-color: $tab-color;
}
.label {
  cursor: pointer;
  margin-bottom: 12px;
  font-size: 0.8rem;
  &:hover {
    color: $tab-color
  }
}

.activeRadio {
  color: $tab-color
}

.button {
  margin-top: 20px;
  font-size: 1rem;
  background-color: $tab-color;

  &:hover {
    background-color: $loader-color;
  }
}