@import 'styles/mixins.module.scss';
@import 'styles/variables.module.scss';

.gallery {
  @include flex(flex, center, center, wrap);
  gap: 20px;
  }

.episodes {
  max-height: 500px;
  overflow: auto;
  padding: 15px;
  font-size: 26px;
  color: indianred;

  p {
    font-size: 20px;
    color: $darkslateblue;
  }
}

.tabs {
  @include flex(flex, center, center,);

  .modalTab {
    margin: 10px;
    padding: 10px;
    background-color: aquamarine;
    font-size: 26px;
    width: 200px;

    &:hover {
      cursor: pointer;
    }
  }
}

.character {
  @include flex(flex, flex-start, center);
}

.episodeCard {
  @include flex(flex, center, center,);
  flex-direction: column;

  & > p {
    font-size: 24px;
    color: $darkslateblue;
    margin: 5px;
  }

  .episodeCardImages {
    @include flex(flex, center, center,);

    figure {

      & > img {
        width: 130px;
        height: 130px;
        padding: 10px;
      }

      & > figcaption {
        font-size: 18px;
      }

    }

  }
}


