.tabsWrapper {
  display: flex;
  justify-content: center;
  gap: 15px;
}

@mixin defaultTabStyles {
  font-size: large;
  font-weight: bold;
  width: 150px;
  height: 30px;
  text-align: center;
}

.active {
  @include defaultTabStyles();
  color: cornflowerblue;
  border-bottom: 1px solid cornflowerblue;
}

.tab {
  @include defaultTabStyles();
  color: black;
  cursor: pointer;
}