@import '../../../styles/mixins.module.scss';

.imgsWrapper {
  @include flex('', '', center, '', 15px);
  margin-bottom: 20px;
}

.episodeInfo {
  @include flex('', '', center, '', 15px);
  font-size: large;
  font-weight: bold;
}

.characterImg {
  border-radius: 50%;
  width: 75px;
}