@import "../../../styles/mixins.module.scss";

.item {
  margin: 50px;

  & img {
    border-radius: 50%;
    &:hover {
      cursor: pointer;
    }
  }
}

.itemName {
  margin-top: 40px;
  font-size: 15pt;
}