@import "styles/mixins.module.scss";

.image {
  @include size(15vw, 15vw);
  
  margin: 50px 0;
  border-radius: 50%;
}

.text {
  font-size: $font-h1;
 }

.block {
  @include flex(column, center);
}