//colors
$white-color: rgb(255, 255, 255);
$gray-color: #aaa;
$black-color: #000;

$button-color: #767676;
$button-color-hover: #a7a3a3;
$blue-color: #5061FF;
$blue-color-hover: #818cee;
$blue-color-focus: #0718ad;

$disabled-input-color: rgb(206, 205, 205);

$red-color: red;

$loader-color: rgb(236, 97, 97);
$tab-color: #ee5d89;
$links-color: rgb(14, 214, 187);

$box-shadow: rgba(149, 157, 165, 0.4);

//font sizes
$font-span: 1rem;
$font-header: 1.5rem;

$font-h1: 2rem;
$font-h2: 1.2rem;
$font-h3: 1rem;

//media width
$desktop-width: 1366px;
$phone-width: 568px;
$small-phone-width: 375px;