<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429514704423-u59gb8p5l5vemtrrrf5o7378l3ceeim5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429514704423-u59gb8p5l5vemtrrrf5o7378l3ceeim5</string>
	<key>API_KEY</key>
	<string>AIzaSyDucgrU4jHDrQ2xERk06CHZtk63TtXlD-I</string>
	<key>GCM_SENDER_ID</key>
	<string>429514704423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bezirgen.org</string>
	<key>PROJECT_ID</key>
	<string>authforrickandmorty</string>
	<key>STORAGE_BUCKET</key>
	<string>authforrickandmorty.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429514704423:ios:f2cb65b22936a13c583002</string>
</dict>
</plist>