@import "styles/mixins.module.scss";

.list {
  @include flex('', center, center, wrap);
}
.header {
  font-size: 24pt;
}

.button {
  background-color: $tab-color;
  margin-bottom: 20px;
}

.nobodyText {
  margin-top: 30px;
  font-size: 20pt;
}