@import '../../../styles/mixins.module.scss';

.footer {
  position: absolute;
  bottom: 0;
  @include Size(100px, 100%);
  background-color: #767676;
  opacity: 0.9;
  @include Flex(center, center, row);
  box-sizing: border-box;
  margin: 0;
  padding: 20px 60px;

  @media screen and (max-width: 725px) {
    padding: 20px;
  }
}

.footerWithChars {
  position: relative;
  @include Size(fit-content, 100%);
  background-color: #767676;
  opacity: 0.9;
  @include Flex(center, center, row);
  box-sizing: border-box;
  margin: 0;
  padding: 28px 60px;

  @media screen and (max-width: 725px) {
    padding: 28px 20px;
  }

  @media screen and (max-width: 725px) {
    @include Flex(center, center, column);
  }
}