@import '../../../styles/mixins.module.scss';

.submitButton {
  @include Size(32px, fit-content);
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #767676;
  color: white;
  background: #767676;
  text-align: center;
  margin: 0;
  padding: 0 16px;
  outline: none;
  font-size: 12px;
  transition: .5s;

  &:hover {
    background: #959595;
    transition: .5s;
  }
}