@import "../../../styles/mixins.module.scss";

.container {
  @include size(100%, '');
  @include flex(column, center);
}
.label {
  @include flex(column, center, center);
  margin-top: 20px;
}

.button {
  width: 70%;
  margin-top: 20px;
  font-size: 10pt;
}

.input {
  margin-top: 5px;
  width: 370px;
  height: 30px;
}

.header {
  font-size: 30pt;
  margin-top: 50px;
}
.error {
  margin-top: 40px;

  font-size: 15pt;
  text-align: center;
  color: red;
}

.link {
  margin-top: 10px;

  font-size: 15pt;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
    color: $links-color;
  }
}