@import "styles/mixins.module.scss";

.container {
  @include size(100%, '');
  @include flex(column, center);
}

.label {
  margin-top: 20px;
  font-size: 1rem;
}

.labelContent {
  margin-left: 10px;
}

.button {
  width: 70%;
  margin-top: 20px;
  font-size: 0.8rem;
  background-color: $blue-color;
  border-radius: 30px;

  &:hover {
    background-color: $blue-color-hover;
  }
}


.form {
  @include flex(column, center);
}

.input {
  @include size(23.125vw, 1.875vw);
  margin-top: 5px;
  border-radius: 30px;
  outline: 1px solid $blue-color;
  border: none;
  padding: 0.44vw 13px;
  font-size: 0.8rem;
  -webkit-appearance: none;

  &:focus {
    outline: 2px solid $blue-color-focus;
  }

  &::placeholder {
    color: $blue-color-hover;
    font-size: 0.7rem;
  }
}

.header {
  font-size: 1.5rem;
  margin: 30px 0;
  color: $blue-color;
}

.error {
  margin-top: 20px;
  font-size: 0.7rem;
  text-align: center;
  color: $red-color;
}

.link {
  margin-top: 10px;
  font-size: 0.7rem;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
    color: $links-color;
  }
}

.inputError {
  font-size: 0.7rem;
  color: $red-color;
  margin-top: 2px;
  margin-left: 10px;
}

.isError {
  outline: 2px solid $red-color;
}