
@import "styles/mixins.module.scss";

.loader { 
  margin-top: 20px;
}
.button {
  @include position(absolute, 20px, 35vw);

  background-color: $tab-color;
  border: none;
  color: $white-color;
  padding: 0.4vw;
  text-align: center;
  border-radius:5px;
  text-decoration: none;
  display: inline-block;
  font-size: $font-h3;
  cursor: pointer;

  @include phone() {
    font-size: 3rem;
    width: 13vw;
  }
}