@import "styles/mixins.module.scss";

.block {
  @include size(12.5rem, auto);
  @include position(absolute, 110px);
  @include flex(column, center);

  background-color: $white-color;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 10px 6px $box-shadow;
}

.button {
  background-color:$loader-color;
  width: 30%;
  position: relative;
  margin: 5px;
  font-size: 0.7rem;
  padding: 5px 0;
}

.ButtonBlock {
  @include flex(row, center, flex-end);
  width: 100%;
}

.field {
  margin: 10px;
  font-size: $font-default-text;
  word-break: break-all;
}

.input {
  border: none;
  outline: 1px solid $blue-color;
  border-radius: 4px;
  padding-left: 5px;
  font-size: 0.7rem;

  width: 10rem;
  height: 1rem;
  &::placeholder {
    color: $blue-color-hover;
  }
}