@import "styles/mixins.module.scss";

.modal {
  @include size(100%, 100%);
  @include position(fixed, 0, '', '', '', 10);
  margin-top: 10vw;
}
.pop {
  @include flex(column, center, center);
  @include position(relative, -100px, '', '', '', 10);

  background:$white-color;
  border: 2px solid $gray-color;
  border-radius: 5px;  
  max-width: 40vw;
  margin: auto;
  padding: 1em 2em 2em;

  @include phone() {
    max-width: 400px;
    top: 0;
  }
  @include small-phone {
    max-width: 340px;
  }
}
.overlay {
  @include size(100%, 100%);
  @include position(fixed, 0, 0, '', '', 9);

  background-color: $black-color;
  opacity: 0.75;
}
