@import "styles/mixins.module.scss";
.content {
  @include flex(column, center, space-around);
  @include size(300px, 100px);
  @include position(relative, '', '', '', -600px, 20);

  margin: auto;
  background-color: $white-color;
  border-radius: 5px;
  border: 1px solid $gray-color;

  button {
    margin-left: 10px;
  }

  animation-duration: 0.55s;  
  animation-fill-mode: both;
  animation-name: fadeInDown;
}