@import "styles/mixins.module.scss";

.content {
  @include flex(column, center, space-around);

  width: 20vw;
  margin: auto;
  padding: 40px;
  background-color: $white-color;
  border-radius: 5px;
  border: 1px solid $gray-color;
  font-size: 0.5rem;
  animation-duration: 0.55s;
  animation-fill-mode: both;
  animation-name: fadeInDown;
}
.button {
  margin-left: 10px;
  font-size: $font-default-text;
}
.header {
  margin-bottom: 20px;
}